{% extends 'statements/base.html' %}

{% block main_body %}
  <div class="card">
    <form method="post" action="{% url 'download_statement' %}" novalidate>
      {% csrf_token %}
      <div class="card-header"><h5 style ="color: rgb(91, 90, 90);">Statement Generator</h5></div>
      <div class="card-body">
        
        <!-- Display backend error here -->
        {% if backend_error %}
          <div class="alert alert-danger" role="alert">
            {{ backend_error }}
          </div>
        {% endif %}

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label for="account_number" class="col-sm-4 col-form-label text-right" style="font-weight: lighter">Account Number<span style="color:red">*</span></label>
              <div class="col-sm-8">
                <!-- Changed from select to text input -->
                <input type="text" name="account_number" id="AccountNumberId" class="form-control form-control-sm" placeholder="Enter account number" required>
                <div class="invalid-feedback">
                  Please enter an Account Number.
                </div>      
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label for="from_date" class="col-sm-4 col-form-label text-right" style="font-weight: lighter">
                From Date<span style="color:red">*</span>
              </label>
              <div class="col-sm-8">
                <input type="date" name="from_date" value="from_date" id="from_dateId" placeholder="FromDate" class="form-control form-control-sm" required> 
                <div class="invalid-feedback">
                  Please select a From Date.
                </div>       
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label for="to_date" class="col-sm-4 col-form-label text-right" style="font-weight: lighter">
                To Date<span style="color:red">*</span>
              </label>
              <div class="col-sm-8">
                <input type="date" name="to_date" value="to_date" id="to_dateId" placeholder="ToDate" class="form-control form-control-sm" required>        
                <div class="invalid-feedback">
                  Please select a To Date.
                </div>
              </div>
            </div>
          </div>  
          <div class="col-md-12">
            <div class="form-group row">
              <label for="DownloadCSV" class="col-sm-2 col-form-label text-right" style="font-weight: lighter"></label>
              <div class="col-sm-10">
                <input type="submit" name="DownloadCSV" id="DownloadCSVId" class="btn btn-primary w-30 py-2" value="Download CSV">        
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
